
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    width: 1440px;
    height: 2530px;
    margin: auto;
    background-color: #ffffff;
}

.dark #root {
    background-color: #252128;
}

@media (max-width:540px){
    #root{
        width: 730px;
        height: 2885px;
    }
}
